// Custom styles.
h3 {
    font-size:16px;
}

.posts-expand .post-body img {
    border:0;
}

.put-on-records a{
    text-decoration:none;
    color:#929292;
}
.put-on-records a:hover {
    color:#fff;
}
